# Default owner for everything in this repository
*                               @serve-robotics/security

.github/workflows/security*     @serve-robotics/security
CODEOWNERS                      @serve-robotics/security
SEC-SCS                         @serve-robotics/security
